<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.imchen.terminal"
    tools:ignore="MissingLeanbackLauncher">
    <uses-sdk android:minSdkVersion="23"  />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.software.leanback"
        android:required="false" />

    <uses-feature android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature android:name="android.hardware.screen.portrait"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_label"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/TermTheme">
        <activity
            android:name=".TerminalActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize"
            android:theme="@style/TermTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_SETTINGS" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TerminalSettingsActivity"
            android:label="@string/menu_item_settings"
            android:theme="@style/TermTheme"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service android:name=".TerminalService" />
    </application>

</manifest>